<div class="all-product-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="all-product-wrapper">
          <div class="facet-wrappers">Facets filter</div>
          <div class="all-products-list-wrapper">
            {% for product in section.settings.collection.products %}
              {% render 'product-card', product: product %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "All Products",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a collection"
    }
  ],
  "presets": [
    {
      "name": "All Products"
    }
  ]
}
{% endschema %}
